.main-header {
    border-bottom:1px solid $gray-200;
    margin-bottom:35px;
    padding-top:45px;
    padding-bottom:35px;
    .home & {
      margin-bottom:0;
    }
}
.admin-bar .fixed-top {
  top: 45px;
  @include media-breakpoint-up(md) {
    top: 32px;
  }
}
.navbar {
  &.fixed-top {
    background-color: rgba($dark-blue, 0.9);
    box-shadow: 0 1px 0 lighten($primary, 5), 0 2px 0 darken($primary, 5);
  }
  .form-control {
    border: 1px solid $dark-blue;
  }
  .navbar-text {
    font-size: 13px;
  }
  .nav-link {
    font-size: 15px;
  }
}
.navbar-dark .navbar-toggler {
  border-color: transparent;
  &:active, &:focus {
    outline: none;
  }
}
