.jumbotron {
    margin-bottom:3rem;
    padding: 8rem 1.5rem 2rem;
    border-radius:0;
    color:#fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    @include media-breakpoint-up(md) {
      padding: 9rem 3rem 3rem;
    }
    .container {
      position: relative;
    }
    h1 {
        margin-bottom: .8rem;
        font-weight: 800;
        text-shadow: 0 1px 1px rgba(0,0,0,.16);
        font-size: 22px;
        @include media-breakpoint-up(md) {
          font-size: 38px;
        }
        @include media-breakpoint-up(lg) {
          font-size: 52px;
        }
    }
    .lead {
        margin-bottom: .8rem;
    }
    hr {
    }
    .btn-primary {
      background-image: linear-gradient(to top, lighten($primary, 5), lighten($primary, 10));
      box-shadow: 0 1px 3px rgba($black, .16);
      text-shadow: 0 -1px 1px rgba($black, .16);
      font-weight: $font-weight-bold;
      padding-left: 30px;
      padding-right: 30px;
    }
}
.jumbotron-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: blur(2px);
    &:before {
        content: " ";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url(../../img/trees.jpg);
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        background-color: $primary;
    }
}
