// Required
@import "functions";
@import "variables";
@import "mixins";

// Optional
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";
@import "print";

// @import "node_modules/bootstrap/scss/bootstrap";

@import 'jumbotron';
@import 'loading';
@import 'header';
@import 'sidebar';
@import 'comments';
@import 'footer';

.inner {
    padding-top: 120px;
}
.latest-title {
    margin-bottom:25px;
    font-style: italic;
}
.latest-title span{
    font-style:italic;
    font-size:12px;
}
.main-title {
    text-transform: capitalize;
    margin-bottom:15px;
}
.search-wrapper {
    display:flex;
    align-items: center;
    justify-content: center;
}

.single h1.post-title,
.single h2.comments-title{
    margin-bottom:25px;
    font-weight: 100;
    padding-bottom:15px;
    border-bottom:1px solid #ebebeb;
}
.the-loop {
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.the-loop li {
    list-style: none;
}
.the-loop .title {
    font-size:24px;
    font-family: "raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.meta {
    margin-bottom:5px;
}
.meta,
.meta a {
    color: $gray-500;
}
.fade-in-enter-active {
    transition: all .6s ease;
}
.fade-in-leave-active {
transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-in-enter, .fade-in-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
opacity: 0;
}
.content {
    margin-bottom: 35px;
}
.content-area img,
.content img {
    max-width:100%;
    margin-top:5px;
    margin-bottom:15px;
}
.pagination {
    margin-top:30px;
}
